<html>
  <head>
    {% if title %}
      <title>{{title}} - FTP Administration</title>
    {% else %}
      <title>FTP Administration</title>
    {% endif %}
      <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='source/style.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="flashed">
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
      {% endwith %}
     </div>
     <div id="content">
          {% block body %}{% endblock %}
      </div>
      <div id="nav">
          <br />
            {% block nav %}
              <a href="/contact/">Contact</a>
              <hr id="nav"/>
              <h2>FTP Accounts</H2>
              {% if 'username' in session %}
                <a href="{{url_for('new_ftp_user')}}">Add Account</a>
                <br />
                <a href="{{url_for('ftp_users')}}">List Accounts</a>
                <br />
                <a href="{{url_for('del_ftp_users')}}">Delete Accounts</a>
                <br />
                <a href="{{url_for('mod_ftp_users')}}">Modify Accounts</a>
              
                {% if session['admin'] == 'True' %}
                  <hr />
                  <h2>Admin Accounts</H2>
                  <a href="{{url_for('new_admin')}}">Add Accounts</a>
                  <br />
                  <a href="{{url_for('list_admins')}}">List Accounts</a>
                  <br />
                  <a href="{{url_for('del_ftp_admins')}}">Delete Accounts</a>
                {% endif %}
                <hr />
                <a href="{{url_for('login')}}">logout</a>
              {% else %}
                <li><a href="{{url_for('login')}}">login</a>
              {% endif %}
            {% endblock %}
      </div>
  </body>
</html> 
