<!-- extend from base layout -->
{% extends "base.html" %}

{% block body %}
<h1>New FTP Account</h1>
<form action="/ftp/new" method="post">
    <table>
      <tr>
        <th>FTP Username</th>
        <th>Media Type</th>
      </tr>
      <tr>
        <td>
          <input type="text" name="ftp_username">
        </td>
        <td>
          <select name="media_type">
          	<option value="">Pick One</option>
          	<option value="talk">Talk</option>
          	<option value="music">Music</option>
          </select>
        </td>

        <tr>
          <td>
            <input type="submit" value="Create Account">
          </td>
        </tr>
    </table>
</form>
{% endblock %}
